---
import ContactIcon from "../../assets/icons/ContactIcon.astro";
import DownloadIcon from "../../assets/icons/DownloadIcon.astro";
import LinkedIn from "../../assets/icons/LinkedIn.astro";
import Badge from "../Badge.astro";
import SocialPill from "../SocialPill.astro";
---

<section
  class="py-16 md:py-28 scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl"
  id="contacto"
>
  <div class="w-full">
    <div class="flex flex-row items-center mb-6 space-x-4">
      <img
        src="/me.JPG"
        alt="Foto de Elian Ramirez"
        class="size-26 rounded-full object-cover"
      />
      <Badge>Disponible para trabajar</Badge>
    </div>
    <h1 class="text-4xl font-bold text-foreground sm:text-5xl">
      <span class="tracking-tight [word-spacing:-15px]"
        >Hey, soy Elian Ramirez</span
      >
    </h1>
    <p class="mt-6 text-xl text-muted-foreground">
      +3 a침os de experiencia como <strong
        ><span class="text-highlight"
          >Desarrollador de Aplicaciones Web y M칩viles.</span
        ></strong
      > de Barranquilla, Colombia 游뻟릖. Especializado en crear aplicaciones web y m칩viles
      eficientes y escalables.
    </p>
    <nav class="flex flex-wrap gap-4 mt-8">
      <SocialPill
        href="mailto:elianramirezmanosalva@gmail.com"
        variant="secondary"
      >
        <ContactIcon />
        Cont치ctame
      </SocialPill>
      <SocialPill
        href="https://linkedin.com/in/elianchoxo"
        target="_blank"
        rel="noopener noreferrer"
        variant="secondary"
      >
        <LinkedIn />
        LinkedIn
      </SocialPill>
      <SocialPill
        href="/cv.pdf"
        target="_blank"
        rel="noopener noreferrer"
        variant="primary"
      >
        <DownloadIcon />
        Descargar CV
      </SocialPill>
    </nav>
  </div>
</section>
