---
import Person from "../../assets/icons/Person.astro";
import Caption from "../Caption.astro";
import SectionContainer from "./SectionContainer.astro";
---

<SectionContainer id="sobre-mi">
  <Caption>
    <Person />
    Sobre mí
  </Caption>
  <div class="flex gap-x-8">
    <div class="">
      <p>
        Soy <strong>Elian Ramírez</strong>, desarrollador web y móvil con más de
        3 años de experiencia. Me apasiona crear interfaces eficientes y
        escalables, cuidando tanto el rendimiento como la experiencia de
        usuario.
      </p>

      <p>
        He liderado desarrollos frontend y fullstack en empresas como <strong
          >LyA Electronic</strong
        > y <strong>Byteware</strong>, construyendo plataformas en React,
        Flutter y Node.js que optimizaron procesos internos y mejoraron la
        velocidad de entrega.
      </p>

      <p>
        Actualmente en <strong>Enternova SaS</strong> participo en el desarrollo
        de un SGPA en React, colaborando con equipos ágiles para entregar soluciones
        robustas y mantenibles. Mi objetivo es seguir creciendo en el desarrollo
        frontend moderno con tecnologías como Next.js y NestJS.
      </p>
    </div>
    <img src="/me.JPG" alt="" class="w-64 h-64 rounded-lg object-cover" />
  </div>
</SectionContainer>
