---
interface Props {
  className?: string;
}

const {className} = Astro.props;
---

<span class={`bg-primary/10 text-primary text-base font-medium me-2 px-2.5 py-0.5 rounded-md dark:bg-blue-900 dark:text-blue-300 ${className}`}>
  <slot />
</span>
