---
import '@fontsource-variable/pixelify-sans';
---
<h2 class="flex items-center mb-6 text-4xl font-semibold gap-x-3 text-foreground/80">
  <slot />
</h2>


<style>
   h2 {
      font-family: 'Pixelify Sans Variable', system-ui;
   }
</style>