---
import Experience from "./sections/experience/Experience.astro";
import Projects from "./sections/projects/Projects.astro";
import Me from "./sections/Me.astro";
import Contact from "./sections/Contact.astro";
import Skills from "./sections/skills/Skills.astro";
---

<main class="px-4">
  <Contact />
  <div class="space-y-32">
    <Experience />
    <Projects />
    <Skills />
    <Me />
  </div>
</main>
